@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;500;600;700;800;900&display=swap');
*{
  font-family: 'Merienda', cursive;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}
li {
  list-style-type: none;
}
body {
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background: #331e1d;
}